.cover{
    /* background-image: url('../Images/pexels-fu-zhichao-581222.jpg'); */
    background-size: cover;
    background-color: pink;
    width: 100%;
    height: 300px;
    aspect-ratio: 1/1;
   
}
.cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    
}
.cover.visible{
        background-image: url('../Images/pexels-fu-zhichao-581222.jpg');


}
.protofile-container{
    width: 100%;
    margin: 0 auto;
    text-align: center;

}
.imgCont{
    width: 200px;
    margin: 0 auto;
    aspect-ratio: 1/1;
    margin-bottom: -60px;
}
.protofile-container  .imgCont img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    border: none;
    border-radius: 50%;
    margin-top: -100px;
}
.protofile-container button{
    background-color: pink;
    padding: 5px 10px;
    border:none;
    border-radius: 5px;
    color: rgb(14, 14, 14);
    cursor: pointer;
}
.flex{
    height:40px;
    margin: 0 auto;
    display:flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.protofile-content{
    width: 40%;
    margin: 0 auto;
    
}
.notSelectedIcon{
    color: pink;
    cursor: pointer;
  }
  .selectedIcon{
    color: rgb(240, 88, 114);
    cursor: pointer;
  }
@media screen and (max-width:940px){

    .protofile-content{
    width: 80%;
    margin: 0 auto;
    
}

}